.xbut {
  position: absolute;
  right: 0px;
  top: 0px;
  color: black;
}

.x:hover {
  color: rgba(255, 87, 87, 0.6);
}

.homeButton {
  color: #294168;
  top: 15px;
  right: 15px;
}

#helpButton{
  color: crimson;
  position: absolute;
  right: 10px;
  top: 10px;
}

#helpButton:hover{
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

body {
  background-image: url("photo/fabric.png");
}

h3 {
  color: #294168;
  font-size: 25px;
  margin: 10px 0px;
}

.tab {
  font-size: 10px;
  padding: 20px;
}

.tab {
  background-color: rgba(232, 233, 238, .8);
  max-width: 700px;
  border-radius: 5px;
  position: relative;
  width: 90%;
  font-family: "Open Sans";
  margin: 15px auto;
  text-align: center;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, .3);
}

form {
  padding: 0 10px;
}

.tab button {
  width: 20%;
  height: 40px;
  text-transform: uppercase;
  font-family: Raleway;
  padding-top: 4px;
  font-size: 15px;
  border: none;
  margin: 5px 12px 0px 0px;
  border-radius: 5px;
}

.nextButton {
  background-color: rgba(41, 65, 104, .5);
}

.nextButton:hover {
  background-color: rgb(56, 57, 58);
}

.backButton {
  background-color: rgba(232, 233, 238, .8);
}

/* .tab button:hover {
  background-color: rgb(32, 32, 33);
} */

/*
.tab ul {
list-style-type: none;
}

.tab ul li {
  font-size: 15px;
  /* padding-top: 5px; }
  */

/* li {
    margin-left: 20px;
    margin-bottom: 10px;
  } */

/* .tab, p {
    font-size: 20px;
    padding: 20px 10px;
  } */

#theftYesNoBtn {
  display: flex;
  justify-content: center;
}

#theftYesNoBtn button {
  background-color: rgba(179, 74, 0, 1);
  width: 60px;
  opacity: .8;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 15px;
}

.formInputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
}

label {
  font-size: 15px;
  display: block;
}

.formRow {
  width: 50%;
  padding: 10px;
}

.tab a {
  width: auto;
  padding: 10px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

textarea {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

/* NOTE: main form */

.formButtons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  height: 80vh;
}

.formButtons a {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  min-width: 300px;
  background-color: grey;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  opacity: .75;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, .3);
}

.formButtons a:hover {
  opacity: 1.0;
  cursor: pointer;
}

.accidentForm{
  display: flex;
  align-items: center;
  min-height: 500px;
}

/* .homeButton{
  text-align: right;
} */

/* NOTE: homepage */

#slideButton {
  background-color: grey;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  border: none;
  transition: 1s;
  margin-top: 20px;
  transition: 3000ms;
}

#slideButton:hover {
  cursor: pointer;
}

.headerTitle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}

header {
  background-image: url("photo/landscape.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* background-color: #39414C; */
  /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,1); */
  margin: 0 auto;
  transition: all 2s ease-in-out;
  display: flex;
}

.headerTitle h1 {
  flex: 1;
  color: #eae8e5;
  font-size: 3rem;
  transition: 2s;
}

.formTitle {
  padding: 5px 17px 10px 25px;
  font-family: "Pacifico";
  font-weight: normal;
  color: #294168;
  font-size: 40px;
}

.subtitle {
  font-family: "Raleway";
  font-weight: normal;
  color: #294168;
  font-size: 15px;
  display: inline-block;
  margin-left: 30px;
  margin-top: 10px;
}

.homePageButtons {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* width: auto; */
}

.homePageButtons a {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  min-width: 300px;
  background-color: grey;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 5px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, .3);
}

#previous {
  background: url(photo/previouspage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform-style: preserve-3d;
}

#help {
  background: url(photo/gethelp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform-style: preserve-3d;
}

#article {
  background: url(photo/articles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform-style: preserve-3d;
}

.fender-bender {
  background: url(photo/fender-bender.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.theft {
  background: url(photo/theft.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.witness {
  background: url(photo/witness.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.har {
  background: url(photo/hit-and-run.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.imageBackgroundText {
  background-color: rgba(20, 20, 20, 0.5);
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
  transform: translateZ(20px);
}

/* accident form styles  */

#accidentMain {
  background-color: #E8E9EE;
  border: 2px solid black;
  width: 85%;
  margin: 30px;
  border-radius: 5px;
}

p {
  font-size: 25px;
}

.enterInsurance {
  font-size: 20px;
}

#witnessMain .witnessButton {
  background-color: rgba(179, 74, 0, 1);
  width: 200px;
  opacity: .8;
  margin: 20px;
  border-radius: 5px;
}

#witnessMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.report {
  background-color: #E8E9EE;
  width: 90%;
  margin: 15px auto;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  max-width: 1100px;
  text-align: center;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, .3);
}

.report button {
  width: 13%;
  height: 40px;
  color: white;
  background-color: rgb(56, 57, 58);
  text-transform: uppercase;
  font-family: Raleway;
  border-radius: 100px;
  opacity: .8;
  padding-top: 4px;
}

/* NOTE: history page */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: Raleway, sans-serif;
}

.historyHeader {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 95%;
  padding-top: 10px;
}

.historyHeader .profilePic {
  background-image: url("photo/grant-chirpus-student.jpg");
  background-size: cover;
  min-width: 100px;
  min-height: 100px;
  border-radius: 5px;
}

.historyHeader h2 {
  margin-left: 20px;
  color: rgba(232, 233, 238, .8);
  color: #39414B;
}

.profile h1 {
  margin: 20px;
  color: rgba(232, 233, 238, .8);
  color: #39414B;
}

.history {
  background-color: rgba(232, 233, 238, .8);
  margin-bottom: 10px;
  border-radius: 10px;
  width: 95%;
  max-height: 100px;
  overflow: hidden;
  transition: all 500ms;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, .3);
  cursor: pointer;
  /* opacity: .5; */
}

.grow {
  max-height: 2000px;
}

table {
  margin-top: 10px;
}

table th, td {
  text-align: left;
  padding: 5px 66px;
}

table th {
  vertical-align: top;
  width: 25%;
}

table tr {
  vertical-align: top;
  width: 75%;
}

.profileDelete {
  color: black;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 5px;
  opacity: .8;
  width: 10%;
  height: 40px;
  margin: 20px;
  float: right;
}

.submit {
  font-size: 30px;
  margin: 20px;
}

#safeButton {
  width: 65%;
  height: 45px;
  background-color: green;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-left: 18%;
  font-family: Raleway, sans-serif;
  font-size: 15px;
  border-radius: 360px;
}

#notSafeButton {
  background-color: crimson;
  width: 65%;
  height: 45px;
  border-radius: 100px;
  font-family: "Open Sans";
  margin: 10px;
  opacity: 1;
  font-family: Raleway;
  font-size: 15px;
}

carAccident1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* NOTE: video page */

.videoParent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.videoForm {
  text-align: center;
  background-color: rgba(232, 229, 225, .8);
  padding: 10px;
  width: 90%;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, .3);
}

.videoTitle, .videoSubTitle {
  color: #3B3738;
}

/* .videoSubTitle {
  color: #eae8e5;
} */

#videoContainer {
  background-image: url("photo/wild-sea.png");
  opacity: 0.8;
}

iFrame {
  min-width: 95%;
  min-height: 200px;
  max-width: 95%;
  border: white 2px solid;
  border-radius: 10px;
}

#adminButton {
  position: absolute;
  top: 20px;
  left: 15px;
}

.adminLoginPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(57, 65, 75, .5);
  padding: 20px;
  width: 85%;
  margin: 25px auto;
  border-radius: 10px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, .3);
}

.loginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginForm button, input {
  width: 100%;
  height: 30px;
  margin: 10px auto;
}

.search {
  width: 35%;
  display: inline-block;
  margin: 0px auto;
  margin-top: 10px;
}

.searchDiv {
  display: flex;
}
.videoOpener {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  #nextOnAccident {
    right: 180px;
  }
  .imgButton {
    opacity: .90;
    transform-style: preserve-3d;
  }
  .imgButton:hover {
    opacity: 1.0;
  }
  .headerTitle h1 {
    font-size: 5rem;
  }
  iFrame {
    min-width: 75%;
    min-height: 500px;
  }
  .formButtons a {
    font-size: 2rem;
  }
  .formButtons {
    justify-content: space-around;
  }
  .homePageButtons {
    flex-direction: row;
  }
  .homePageButtons a {
    height: 55vh;
  }
  .adminLoginPage {
    width: 30%;
  }

  .videoParent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }
  .videoForm {
    position: relative;
    padding: 20px;
    width: 46%;
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, .3);
    /* flex-grow: 3;
    flex-shrink: 2; */
    /* transition: all .2s ease-in-out; */
  }
  /* .videoForm:active {
  transform: scale(1.1);
  position:relative;
  top:-25px;
  left:-25px;
  width:100%;
  height:auto;
  display:block;
  z-index:999;
  } */
  .videoLarge {
    width: 90%;
    border: 2px solid orange;
    background-color: rgb(232, 229, 225);
    transition: all .5s ease-in-out;
    position: fixed;
    z-index: 20;
    margin-top: 0px;
  }
  .videoOpener {
    visibility: visible;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .nextButton {
    transition: all .2s ease-in-out;
  }
  .nextButton:hover {
    transform: scale(1.07);
  }
  .hide {
    visibility: hidden;
  }
}

@media only screen and (min-width: 1920px) {
  .videoOpener {
    visibility: visible;
  }
  .formButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 48vh;
    margin: 30px;
  }

  .videoParent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 25px auto;
    width: 90%;
  }

  .videoForm {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    /* text-align: center; */
    width: 30%;
    margin: 25px auto;
  }

  .videoLarge {
    width: 90%;
    height: 700px;
    /* height: auto;
    border: 2px solid orange;
    background-color: rgb(232, 229, 225);
    transition: all .3s ease-in-out;
    position: fixed;
    z-index: 20;
    margin-top 0px; */
  }
}
