.xbut, #xbutt {
  position: absolute;
  right: 15px;
  top: 10px;
  color: black;
}
.x:hover{
  color: rgba(255, 87, 87, 0.6);
}

.xbutt{
  color: #E5E5D9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia;
}

body {
  background-image: url("photo/fabric.png");
}

.tab {
  font-size: 10px;
  padding: 20px;
}

.tab {
  background-color: rgba(232, 233, 238, .8);
  max-width: 700px;
  border-radius: 5px;
  position: relative;
  width: 90%;
  font-family: "Open Sans";
  margin: 15px auto;
  text-align: center;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, .3);
}

form {
  padding: 0 10px;
}

.tab, p {
  font-size: 25px;
  padding: 20px 10px;
}

.tab button {
  width: 40%;
  height: 55px;
  color: black;
  background-color: #7D9D99;
  text-transform: uppercase;
  border: 2px solid black;
  font-family: "Open Sans";
  border-radius: 5px;
  opacity: .8;
}

.tab ul {
list-style-type: none;
}

.tab ul li {
  padding-top: 5px;
}

#theftYesNoBtn {
  /* border: red 4px solid; */
  display: flex;
  justify-content: center;
}

#theftYesNoBtn button {
  background-color: rgba(179, 74, 0, 1);
  width: 60px;
  opacity: .8;
}

input, button {
  border: none;
  margin: 10px;
  font-size: 20px;
}

input {
  background-color: rgba(232, 233, 238, -0.2);
  border-bottom: 1px solid black;
  width: 95%;
  padding: 10px;
}

.tab a {
  width: auto;
  padding: 10px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

textarea{
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

/* NOTE: main form */

#formTitle{
  margin-top: 30px;
  padding: 20px 17px 10px 25px;
  font-size: 35px;
  color: #E8E9EE;
}

.formButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
  height: 80vh;
}

.formButtons a {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  min-width: 300px;
  background-color: grey;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 5px;
  opacity: .75;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, .3);

}
.formButtons a:hover {
  opacity: 1.0;
  cursor: pointer;
}

.homeButton{
  text-align: right;
}
/* NOTE: homepage */

header {
  background-image: url("photo/landscape.jpg");
  height:100vh;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #39414C;
  /* background-color: white; */
  /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,1); */
  margin: 0 auto;
  transition: all 1s;
  display: flex;
}

#slideButton {
  background-color: grey;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  border: none;
  transition: 1s;
  margin-top: 20px;
}
#slideButton:hover {
  cursor: pointer;
}

.headerTitle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}

.headerTitle h1 {
  flex: 1;
  color: white;
  font-size: 4rem;
}

.homePageButtons{
  display: none;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  height: 55vh;
}

.homePageButtons a {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  min-width: 300px;
  background-color: grey;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 5px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, .3);

}
#previous {
  background: url(photo/previouspage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#help {
  background: url(photo/gethelp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#article {
  background: url(photo/articles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.fender-bender {
  background: url(photo/fender-bender.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.theft {
  background: url(photo/theft.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.witness {
  background: url(photo/witness.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.har {
  background: url(photo/hit-and-run.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.imageBackgroundText {
  background-color: rgba(20, 20, 20, 0.5);
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
}

/* accident form styles  */
#accidentMain {
  background-color: #E8E9EE;
  border: 2px solid black;
  width: 85%;
  margin: 30px;
  border-radius: 5px;
}

p {
  font-size: 25px;
}

label, li, .enterInsurance{
  font-size: 20px;
}

li {
  margin-left: 20px;
  margin-bottom: 10px;
}

#nextOnAccident {
  position: absolute;
  right: 40px;
  top: 275px;
}

.accidentForm {
  display: flex;
  align-items: center;
  min-height: 700px;
}

.witnessButton {
  align-items: center;
}

#witnessMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#witnessMain button {
  width: 50%;
}
.navButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.report {
   background-color:#E8E9EE;
   width: 90%;
   margin: 15px auto;
   border-radius: 5px;
   padding: 5px;
   position: relative;
   max-width: 1100px;
   text-align: center;
   box-shadow: 10px 10px 8px rgba(0, 0, 0, .3);
}

.report button {
  width: 30%;
  font-size: 15px;
  color: black;
  background-color: #7D9D99;
  text-transform: uppercase;
  border: 2px solid black;
  font-family: "Open Sans";
  border-radius: 5px;
}

/* NOTE: history page */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: Georgia;
}

.historyHeader {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 95%;
  padding-top: 10px;
}

.historyHeader .profilePic {
  border: solid green 1px;
  background-image: url("photo/grant-chirpus-student.jpg");
  background-size: cover;
  min-width: 100px;
  min-height: 100px;
  border-radius: 5px;
}

.historyHeader h2 {
  margin-left: 20px;
  color: rgba(232, 233, 238, .8);
}

.profile h1 {
  margin: 20px;
  color: rgba(232, 233, 238, .8);
}

.history {
  background-color: rgba(232, 233, 238, .8);
  margin-bottom: 10px;
  border-radius: 10px;
  width: 95%;
  max-height: 125px;
  overflow: hidden;
  transition: all 1s;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, .3);

}

.history:hover{
  max-height: 2000px;
  transition: 2s;
}

table {
  margin-top: 10px;
}

table th,td {
  text-align: left;
  padding: 5px 20px;
}

table th {
  vertical-align: top;
  width: 25%;
}

table tr {
  vertical-align: top;
  width: 75%;
}

.profileDelete {
  color: black;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 5px;
  opacity: .8;
  width: 10%;
  height: 40px;
  margin: 20px;
  float: right;
}

.submit {
  font-size: 30px;
  margin: 20px;
}

@media screen and (min-width: 768px) {

  #nextOnAccident {
    right: 180px;
  }
  .imgButton {
    opacity: .90;
  }
  .imgButton:hover {
    opacity: 1.0;
  }
}
