.xbut {
  position: absolute;
  right: 3px;
  top: 3px;
}
.x {
  color: white;
  background-color: crimson;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia;
}

body {
  background-color: #39414C;
}

.tab {
  background-color: #e5e5d7;
  margin: 0 auto;
  width: 100%;
  min-height: 200px;
  height: 100vh;
  overflow: scroll;
  font-family: "Open Sans";
  font-size: 10px;
  padding: 20px;
  /* position: relative; */

}

.tab, p {
  font-size: 25px;
  padding: 10px;
}

.tab button {
  width: 30%;
  font-size: 15px;
  color: #e5e5d7;
  background-color: #493728;
  text-transform: uppercase;
  border: 2px solid black;
}

input, button {
  border: none;
  margin: 10px;
}

input {
  background-color: #e5e5d7;
  border-bottom: 1px solid black;
  width: 100%;
}

.tab a {
  width: auto;
  padding: 10px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

textarea{
  width: 100%;
}

/* NOTE: main form */
.formButtons button {
  width: 100%;
  padding: 40px;
  border-radius: 5px;

}

.mainForm h1 {
  /* margin-top: 120px; */
  margin-bottom: 20px;
}

.mainForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  overflow: scroll;
}

.mainButton a {
  color: white;
}

.formButtons {
  height: 70vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* NOTE: homepage */

header {
  background-image: url("photo/landscape.jpg");
  height:100vh;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #39414C;
  /* background-color: white; */
  /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,1); */
  margin: 0 auto;
  transition: all 1s;
  display: flex;
}

#slideButton {
  background-color: grey;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  border: none;
  transition: 1s;
  margin-top: 20px;
}

.headerTitle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}

.headerTitle h1 {
  flex: 1;
  color: white;
  font-size: 4rem;
}

.homePageButtons{
  display: none;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  height: 55vh;
}

.homePageButtons a {
  text-align: center;
  display: block;
  width: 30%;
  margin: auto 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  min-width: 300px;
  background-color: grey;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 5px;
}

.history {
  background-color: #e5e5d7;
  margin: 0 auto;
  width: 80%;
}

@media screen and (min-width: 768px) {
  /* h1{
    margin-top: 400px;
  }

  button {
    width: 15%;
  } */
}














































/* NOTE: history page */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: Georgia;
}

.historyHeader {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 95%;
  padding-top: 10px;
}

.historyHeader .profilePic {
  border: solid green 1px;
  background-image: url("photo/grant-chirpus-student.jpg");
  background-size: cover;
  min-width: 100px;
  min-height: 100px;
  border-radius: 5px;
}

.historyHeader h2 {
  margin-left: 20px;
  color: white;
}

.profile h1 {
  margin: 20px;
  color: white;
}

.history {
  margin-bottom: 10px;
  border-radius: 10px;
  width: 95%;
}

table {
  margin-top: 10px;
}

table th,td {
  text-align: left;
}

table th {
  padding: 5px 20px;
  vertical-align: top;
}
