<div ng-switch="$ctrl.accident" class="accidentForm" ng-class="$ctrl.animation">

  <div class="tab carAccident1 slide" ng-switch-when="1">
    <a class="xbut" href="#!/form">
      <i class="material-icons x">clear</i>
    </a>
    <p>Are you safe?</p>
    <button id="safeButton" ng-click="$ctrl.getForm(2); $ctrl.getType('car accident');$ctrl.goForward()">Yes I'm Safe</button>
    <button id="notSafeButton" ng-click="$ctrl.showAlert();">No I need help</button>
  </div>

  <div class="tab car2 slide" ng-switch-when="2" >
    <a class="xbut" href="#!/form">
      <i class="material-icons x">clear</i>
    </a>
    <h3>Vechicle Information</h3>
    <form ng-submit="$ctrl.setPerpCar($ctrl.car)">
      <div class="formInputs">
        <div class="formRow">
          <label>Name</label>
          <input type="text" ng-model="$ctrl.car.name">
        </div>
        <div class="formRow">
          <label>Number</label>
          <input type="text" ng-model="$ctrl.car.phone">
        </div>
        <div class="formRow">
          <label>Make</label>
          <input type="text" ng-model="$ctrl.car.make">
        </div>
        <div class="formRow">
          <label>Model</label>
          <input type="text" ng-model="$ctrl.car.model">
        </div>
        <div class="formRow">
          <label>Color</label>
          <input type="text" ng-model="$ctrl.car.color">
        </div>
        <div class="formRow">
          <label>License Plate#</label>
          <input type="text" ng-model="$ctrl.car.plate">
        </div>
      </div>
      <div class="navButtons">
        <button class="backButton" ng-click="$ctrl.goBack()" go-back>Back</button>
        <button class="nextButton" ng-click="$ctrl.goForward()">Next</button>
      </div>
    </form>
    <div ng-show="$ctrl.message">
      <h3>Please Enter More Information</h3>
    </div>
  </div>

  <div class="tab car3 slide" ng-switch-when="3">
    <a class="xbut" href="#!/form">
      <i class="material-icons x">clear</i>
    </a>
    <h3>Enter other drivers insurance information:</h3>
    <form ng-submit="$ctrl.setInsuranceInfo($ctrl.car)">
      <textarea name="description" rows="8" cols="80" ng-model="$ctrl.car.insuranceInfo"></textarea>
      <div class="navButtons">
        <button class="backButton" ng-click="$ctrl.goBack()">Back</button>
        <button class="nextButton" ng-click="$ctrl.setInsuranceInfo($ctrl.car);$ctrl.goForward()">Next</button>
      </div>
    </form>
  </div>

  <div class="tab car4 slide" ng-switch-when="4">
    <a class="xbut" href="#!/form">
      <i class="material-icons x">clear</i>
    </a>
    <h3>Write your Memories</h3>
    <form ng-submit="$ctrl.setEvent($ctrl.car)">
      <textarea name="name" rows="8" cols="80" ng-model="$ctrl.car.event"></textarea>
      <div class="navButtons">
        <button class="backButton" ng-click="$ctrl.goBack()">Back</button>
        <button class="nextButton" ng-click="$ctrl.setEvent($ctrl.car);$ctrl.goForward()">Next</button>
      </div>
    </form>
  </div>

  <div class="tab car5 slide" ng-switch-when="5">
    <a class="xbut" href="#!/form">
      <i class="material-icons x">clear</i>
    </a>
    <h4>Check the area for witnesses and get their contact information.</h4>
    <h4>Take photos.</h4>
    <div class="navButtons">
      <button class="backButton" ng-click="$ctrl.goBack()">Back</button>
      <button class="nextButton" ng-click="$ctrl.getForm(6);$ctrl.goForward()">Next</button>
    </div>
  </div>

  <div id="accidentSummary" class="report slide" ng-switch-when="6">
    <a class="xbut" href="#!/form">
      <i class="material-icons x">clear</i>
    </a>
    <h3>Report</h3>
    <div>
      <table>
        <tr>
          <th>Name:</th>
          <td>{{ $ctrl.accidentDb.name ||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>Contact:</th>
          <td>{{ $ctrl.accidentDb.phone ||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>Make:</th>
          <td>{{ $ctrl.accidentDb.make ||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>Model:</th>
          <td>{{ $ctrl.accidentDb.model||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>Color:</th>
          <td>{{ $ctrl.accidentDb.color ||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>License plate #:</th>
          <td>{{ $ctrl.accidentDb.plate ||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>Insurance info:</th>
          <td>{{ $ctrl.accidentDb.insuranceInfo ||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>Description of events:</th>
          <td>{{ $ctrl.accidentDb.event ||"n/a" | uppercase}}</td>
        </tr>
      </table>
      <div class="navButtons">
        <button class="" ng-click="$ctrl.goBack()"><i class="material-icons">arrow_back</i></button>
        <button class="" ng-click="$ctrl.sendToService()"><i class="material-icons">done_all</i></button>
      </div>
    </div>
  </div>

</div>
