<div ng-switch="$ctrl.accident" class="accidentForm">
  <div class="tab carAccident1" ng-switch-when="1">
    <a class="xbut" href="#!/form">
      <i class="material-icons x">clear</i>
    </a>
    <p>Pull your car to a safe area and check on others involved</p>
    <p>Call the police</p>
    <p>Keep calm</p>
    <button ng-click="$ctrl.getForm(2); $ctrl.getType('car accident')"><i class="material-icons">arrow_forward</i></button>
  </div>

  <div class="tab car2" ng-switch-when="2">
    <a class="xbut" href="#!/form">
      <i class="material-icons x">clear</i>
    </a>
    <p>Enter as much information as possible about the other driver</p>
    <form ng-submit="$ctrl.setPerpCar($ctrl.car)">
      <label>Name
        <input type="text" ng-model="$ctrl.car.name">
      </label>
      <label>Contact Number (no dashes)
        <input type="text" maxlength="10" minlength="10" ng-model="$ctrl.car.phone">
      </label>
      <label>Make
        <input type="text" ng-model="$ctrl.car.make">
      </label>
      <label>Model
        <input type="text" ng-model="$ctrl.car.model">
      </label>
      <label>Color
        <input type="text" ng-model="$ctrl.car.color">
      </label>
      <label>License Plate #
        <input type="text" ng-model="$ctrl.car.plate">
      </label>
      <div class="navButtons">
      <button ng-click="$ctrl.goBack()"><i class="material-icons">arrow_back</i></button>
      <button ng-click="$ctrl.setPerpCar($ctrl.car)"><i class="material-icons">arrow_forward</i></button>
      </div>
    </form>
  </div>

  <div class="tab car3" ng-switch-when="3">
    <a class="xbut" href="#!/form">
      <i class="material-icons x">clear</i>
    </a>
    <p>Do not admit fault</p>
    <p>Do not discuss the car accident with anyone other than the police and your insurance claims representative.</p>
    <p class="enterInsurance">Enter other drivers insurance information:</p>
    <form ng-submit="$ctrl.setInsuranceInfo($ctrl.car)">
      <textarea name="description" rows="8" cols="80" ng-model="$ctrl.car.insuranceInfo"></textarea>
      <div class="navButtons">
      <button ng-click="$ctrl.goBack()"><i class="material-icons">arrow_back</i></button>
      <button ng-click="$ctrl.setInsuranceInfo($ctrl.car)"><i class="material-icons">arrow_forward</i></button>
      </div>
    </form>
  </div>

  <div class="tab car4" ng-switch-when="4">
    <a class="xbut" href="#!/form">
      <i class="material-icons x">clear</i>
    </a>
    <p>Write your account of the incident that took place</p>
    <form ng-submit="$ctrl.setEvent($ctrl.car)">
      <ul>Remember to include:
        <li>Injuries</li>
        <li>Damage to your car</li>
        <li>Who</li>
        <li>What</li>
        <li>When</li>
        <li>Where</li>
      </ul>
      <textarea name="name" rows="8" cols="80" ng-model="$ctrl.car.event"></textarea>
      <div class="navButtons">
      <button ng-click="$ctrl.goBack()"><i class="material-icons">arrow_back</i></button>
      <button ng-click="$ctrl.setEvent($ctrl.car)" ><i class="material-icons">arrow_forward</i></button>
      </div>
    </form>
  </div>

  <div class="tab car5" ng-switch-when="5">
    <a class="xbut" href="#!/form">
      <i class="material-icons x">clear</i>
    </a>
    <p>Remember to check the area for witnesses</p>
    <p>Take photos</p>
    <div class="navButtons">
    <button ng-click="$ctrl.goBack()"><i class="material-icons">arrow_back</i></button>
    <button ng-click="$ctrl.getForm(6)" ><i class="material-icons">arrow_forward</i></button>
    </div>
  </div>

  <div id="accidentSummary" class="report" ng-switch-when="6">
    <a class="xbut" href="#!/form">
      <i class="material-icons x">clear</i>
    </a>
    <h2>Report</h2>
    <div>
      <h4>Other Driver Details</h4>
      <table>
      <tr>
        <th>Name:</th>
        <td>{{ $ctrl.accidentDb.name ||"n/a" | uppercase}}</td>
      </tr>
        <tr>
          <th>Contact:</th>
          <td>{{ $ctrl.accidentDb.phone ||"n/a"  | uppercase}}</td>
        </tr>
        <tr>
          <th>Make:</th>
          <td>{{ $ctrl.accidentDb.make ||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>Model:</th>
          <td>{{ $ctrl.accidentDb.model||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>Color:</th>
          <td>{{ $ctrl.accidentDb.color ||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>License plate #:</th>
          <td>{{ $ctrl.accidentDb.plate ||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>Insurance info:</th>
          <td>{{ $ctrl.accidentDb.insuranceInfo ||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>Description of events:</th>
          <td>{{ $ctrl.accidentDb.event ||"n/a" | uppercase}}</td>
        </tr>
      </table>
      <div class="navButtons">
      <button ng-click="$ctrl.goBack()"><i class="material-icons">arrow_back</i></button>
      <button ng-click="$ctrl.sendToService()"><i class="material-icons">done_all</i></button>
      </div>


    </div>
  </div>
</div>
