<div ng-switch="$ctrl.accident" class="accidentForm">

    <div class="tab carAccident1" ng-switch-when="1">
        <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <p>Ensure you and your car are in a safe area away from traffic</p>
      <p>Nofity the police</p>
      <p>Stay Calm</p>
      <p>DON'T follow the fleeing driver. Leaving the scene of the accident could put you in a compromising position.</p>
      <button ng-click="$ctrl.getForm(2); $ctrl.getType('hit and run')" type="button"><i class="material-icons">arrow_forward</i></button>
    </div>

    <div class="tab car2" ng-switch-when="2">
        <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <p>Enter as much information as you can remember about the other vehicle:</p>
      <ul>
        <li>This increases the chances that police will catch the driver who hit you.</li>
        <li>Helps your car insurance company make deisions about your claim.</li>
      </ul>
      <form ng-submit="$ctrl.setPerpCar($ctrl.car)">
        <label>Make<input type="text" ng-model="$ctrl.car.make"></label>
        <label>Model<input type="text" ng-model="$ctrl.car.model"></label>
        <label>Color<input type="text" ng-model="$ctrl.car.color"></label>
        <label>License Plate #<input type="text" ng-model="$ctrl.car.plate"></label>
        <label>Driver Description<input type="text" ng-model="$ctrl.car.driver"></label>
        <div class="navButtons">
        <button ng-click="$ctrl.goBack()" type="button"><i class="material-icons">arrow_back</i></button>
        <button type="submit"><i class="material-icons">arrow_forward</i></button>
        </div>
      </form>
    </div>

    <div class="tab car3" ng-switch-when="3">
        <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <p>Write your memories of the incident</p>
      <form ng-submit="$ctrl.setEvent($ctrl.car)">
      <ul>Don't forget:
        <li>Injuries</li>
        <li>Damage to your car</li>
        <li>Who</li>
        <li>What</li>
        <li>When</li>
        <li>Where</li>
      </ul>
      <textarea name="name" rows="8" cols="80" ng-model="$ctrl.car.event"></textarea>
      <div class="navButtons">
      <button ng-click="$ctrl.goBack()" type="button"><i class="material-icons">arrow_back</i></button>
      <button type="submit"><i class="material-icons">arrow_forward</i></button>
      </div>
      </form>
    </div>

    <div class="tab car4" ng-switch-when="4">
        <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <p>Description of damage to the other vehicle</p>
      <form ng-submit="$ctrl.setDescription($ctrl.car)">
        <textarea name="description" rows="8" cols="40" ng-model="$ctrl.car.description"></textarea>

        <p>What direction was the car headed?</p>
        <input type="text" name="" placeholder="direction" ng-model="$ctrl.car.direction">
        <div class="navButtons">
        <button ng-click="$ctrl.goBack()" type="button"><i class="material-icons">arrow_back</i></button>
        <button type="submit"><i class="material-icons">arrow_forward</i></button>
        </div>
      </form>
    </div>

    <div class="tab car5" ng-switch-when="5">
        <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <p>Remember to check the area for witnesses and ask for their names and contact information.</p>
      <p>Take pictures of the accident scene.</p>
      <p>Take pictures of your car, especially if anothers car's paint is visible on it.</p>
      <div class="navButtons">
      <button ng-click="$ctrl.goBack()" type="button"><i class="material-icons">arrow_back</i></button>
      <button ng-click="$ctrl.getForm(6)"><i class="material-icons">arrow_forward</i></button>
      </div>
    </div>

    <div class="report" ng-switch-when="6">
        <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <h2>Timeline of Events</h2>
      <div>
      <h3>Other Vehicle Details</h3>
      <table>
      <tr>
        <th>Make:</th>
        <td>{{ $ctrl.accidentDb.make ||"n/a" | uppercase}}</td>
      </tr>
        <tr>
          <th>Model:</th>
          <td>{{ $ctrl.accidentDb.model ||"n/a"  | uppercase}}</td>
        </tr>
        <tr>
          <th>Color:</th>
          <td>{{ $ctrl.accidentDb.color ||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>License plate #:</th>
          <td>{{ $ctrl.accidentDb.plate||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>Driver description:</th>
          <td>{{ $ctrl.accidentDb.driver ||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>Description of events:</th>
          <td>{{ $ctrl.accidentDb.event ||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>Damage to other vehicle:</th>
          <td>{{ $ctrl.accidentDb.description ||"n/a" | uppercase}}</td>
        </tr>
        <tr>
          <th>Direction vehicle headed:</th>
          <td>{{ $ctrl.accidentDb.direction ||"n/a" | uppercase}}</td>
        </tr>
      </table>
      <div class="navButtons">
      <button ng-click="$ctrl.goBack()" type="button"><i class="material-icons">arrow_back</i></button>
      <button ng-click="$ctrl.sendToService()" type="button"><i class="material-icons">done_all</i></button>
      </div>
      </div>

    </div>
  </div>
