<div ng-switch="$ctrl.accident" class="accidentForm">
    <div class="tab carAccident1" ng-switch-when="1">
      <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <p>Call the police</p>
      <p>Keep calm</p>
      <button ng-click="$ctrl.getForm(2)" type="button"><i class="material-icons">arrow_forward</i></button>
    </div>

    <div class="tab" ng-switch-when="2">
      <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <form ng-submit="$ctrl.setDescription($ctrl.items)">
        <p>Did you see the person?</p>
        <div id="theftYesNoBtn">
          <button type="button" ng-click="showme=true">Yes</button>
          <button type="button" ng-click="$ctrl.getForm(3); showme=false">No</button>
        </div>
        <p ng-show="showme">Please describe</p>
        <textarea ng-show="showme" name="name" rows="8" cols="80" ng-model="$ctrl.items.description"></textarea>
        <div class="navButtons">
        <button ng-click="$ctrl.goBack()" type="button"><i class="material-icons">arrow_back</i></button>
        <button type="submit"><i class="material-icons">arrow_forward</i></button>
        </div>
      </form>
    </div>

    <div class="tab" ng-switch-when="3">
      <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <p>Your insurance claims representative and authorities may want a list of stolen items:</p>
      <form ng-submit="$ctrl.stolenItems($ctrl.items)">
        <textarea name="name" rows="8" cols="80" ng-model="$ctrl.items.property"></textarea>
        <div class="navButtons">
      <button ng-click="$ctrl.goBack()" type="button"><i class="material-icons">arrow_back</i></button>
      <button type="submit"><i class="material-icons">arrow_forward</i></button>
      </div>
      </form>
    </div>

    <div class="tab" ng-switch-when="4">
      <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <p>Write your account of the incident that took place</p>
      <form ng-submit="$ctrl.setEvents($ctrl.items)">
        <textarea name="name" rows="8" cols="80" ng-model="$ctrl.items.event"></textarea>
        <div class="navButtons">
        <button ng-click="$ctrl.goBack()" type="button"><i class="material-icons">arrow_back</i></button>
        <button type="submit"><i class="material-icons">arrow_forward</i></button>
        </div>
      </form>
    </div>

    <div class="report" ng-switch-when="5">
      <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <h2>Report</h2>
      <div>
        <table>
        <tr>
          <th>Description of person:</th>
          <td>{{ $ctrl.theftDb.description ||"n/a" | uppercase}}</td>
        </tr>
          <tr>
            <th>Stolen property:</th>
            <td>{{ $ctrl.theftDb.property ||"n/a"  | uppercase}}</td>
          </tr>
          <tr>
            <th>Description of events:</th>
            <td>{{ $ctrl.theftDb.event ||"n/a" | uppercase}}</td>
          </tr>
        </table>
        <div class="navButtons">
        <button ng-click="$ctrl.goBack()" type="button"><i class="material-icons">arrow_back</i></button>
        <button ng-click="$ctrl.sendToService()" type="button"><i class="material-icons">arrow_forward</i></button>
        </div>
      </div>
    </div>
  </div>
