<div ng-switch="$ctrl.accident" class="accidentForm" ng-class="$ctrl.animation">
    <div class="tab carAccident1 slide" ng-switch-when="1">
      <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <p>Are you safe?</p>
      <button id="safeButton" ng-click="$ctrl.getForm(2); $ctrl.getType('car accident');$ctrl.goForward()">Yes I'm Safe</button>
      <button id="notSafeButton" ng-click="$ctrl.showAlert(); $ctrl.needHelp()">No I need help</button>
    </div>

    <div class="tab slide" ng-switch-when="2">
      <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <form ng-submit="$ctrl.setDescription($ctrl.items)">
        <p>Did you see the person?</p>

        <div id="theftYesNoBtn">
          <button type="button" ng-click="showme=true">Yes</button>
          <button type="button" ng-click="$ctrl.getForm(3); showme=false">No</button>
        </div>
        <p ng-show="showme">Please describe</p>
        <textarea ng-show="showme" name="name" rows="8" cols="80" ng-model="$ctrl.items.description"></textarea>
        <div class="navButtons">
        <button class="backButton" ng-click="$ctrl.goBack()" type="button">Back</button>
        <button class="nextButton" ng-click="$ctrl.goForward()" type="submit">Next</button>
        </div>
      </form>
    </div>

    <div class="tab slide" ng-switch-when="3">
      <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <p>Your insurance claims representative and authorities may want a list of stolen items:</p>
      <form ng-submit="$ctrl.stolenItems($ctrl.items)">
        <textarea name="name" rows="8" cols="80" ng-model="$ctrl.items.property"></textarea>
        <div class="navButtons">
      <button class="backButton" ng-click="$ctrl.goBack()" type="button">Back</button>
      <button class="nextButton" type="submit" ng-click="$ctrl.goForward()">Next</button>
      </div>
      </form>
    </div>

    <div class="tab slide" ng-switch-when="4">
      <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <p>Write your account of the incident that took place</p>
      <form ng-submit="$ctrl.setEvents($ctrl.items)">
        <textarea name="name" rows="8" cols="80" ng-model="$ctrl.items.event"></textarea>
        <div class="navButtons">
        <button class="backButton" ng-click="$ctrl.goBack()" type="button">Back</button>
        <button class="nextButton" type="submit" ng-click="$ctrl.goForward()">Next</button>
        </div>
      </form>
      <div ng-show="$ctrl.message">
        <h3>Please Enter More Information</h3>
      </div>
    </div>

    <div class="report slide" ng-switch-when="5">
      <a class="xbut" href="#!/form"><i class="material-icons x">clear</i></a>
      <h2>Report</h2>
      <div>
        <table>
        <tr>
          <th>Description of person:</th>
          <td>{{ $ctrl.theftDb.description ||"n/a" | uppercase}}</td>
        </tr>
          <tr>
            <th>Stolen property:</th>
            <td>{{ $ctrl.theftDb.property ||"n/a"  | uppercase}}</td>
          </tr>
          <tr>
            <th>Description of events:</th>
            <td>{{ $ctrl.theftDb.event ||"n/a" | uppercase}}</td>
          </tr>
        </table>
        <div class="navButtons">
        <button class="backButton" ng-click="$ctrl.goBack()">Back</button>
        <button ng-click="$ctrl.sendToService()" type="button">Submit</button>
        </div>
      </div>
    </div>
  </div>
